.login-container{
  display: flex;
  height: 96vh;
  align-items: center;
  justify-content: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

}

.form-container input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
}
.form-container label{
  font-size: 15px;
}

.form-container button{
  padding: 10px;
}

.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-container .nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  flex-wrap: wrap;
}
.link {
  text-decoration: none;
  color: black;
}

.home-body{
  display: flex;
  flex-direction: column;
}

.home-content{
  display: flex;
  justify-content: space-between;
}